doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, shrink-to-fit=no, initial-scale=1')
    meta(name='description', content='')
    meta(name='author', content='')
    title Nodejs Basic
    link(rel="stylesheet", href="/css/main.css")

  body
    .todoApp
      #myDIV.header
        h2 My To Do List
        input#myInput(type='text', placeholder='Title...')
        span.addBtn  Add
      ul#myUL
        li Hit the gym
        li.checked Pay bills
        li Meet George
        li Buy eggs
        li Read a book
        li Organize office
